@import url(styles.css);

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondary-color);
    height: 9em;
    position: relative;
    bottom: 0;
}

footer .socials {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 0 0 0.5em 0;
}

footer .icon {
    height: 2em;
}

footer .logo-container {
    display: flex;
    justify-content: center;
    padding: 0.5em 0 0 0;
}

footer .logo {
    height: 3.5em;
}